<div class="modal" id="add-task-modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>Add New Task</h2>
        <form id="add-task-form">
            <div class="form-group">
                <label for="task-title">Title</label>
                <input type="text" id="task-title" name="title" required>
            </div>
            <div class="form-group">
                <label for="task-duration">Duration</label>
                <input type="text" id="task-duration" name="duration" placeholder="30 mins">
            </div>
            <div class="form-group">
                <label for="task-time">Time</label>
                <input type="text" id="task-time" name="time" placeholder="12:00 PM">
            </div>
            <button type="submit" class="submit-button">Add Task</button>
        </form>
    </div>
</div>