<div class="modal" id="weather-modal">
    <div class="modal-content weather-modal-content">
        <span class="close-button">&times;</span>
        <h2>Current Weather</h2>
        <div class="weather-info" id="weather-info">
            <div class="weather-icon-large"></div>
            <div class="weather-details">
                <div class="temperature">--°C</div>
                <div class="condition">--</div>
                <div class="humidity">Humidity: --%</div>
            </div>
        </div>
        <div class="weather-additional-info" id="weather-additional-info">
            <div class="weather-detail-item">
                <span class="weather-detail-label">Feels Like</span>
                <span class="weather-detail-value" id="feels-like">--°C</span>
            </div>
            <div class="weather-detail-item">
                <span class="weather-detail-label">Wind</span>
                <span class="weather-detail-value" id="wind-speed">-- km/h</span>
            </div>
            <div class="weather-detail-item">
                <span class="weather-detail-label">Pressure</span>
                <span class="weather-detail-value" id="pressure">-- hPa</span>
            </div>
            <div class="weather-detail-item">
                <span class="weather-detail-label">Visibility</span>
                <span class="weather-detail-value" id="visibility">-- km</span>
            </div>
        </div>
        <div class="location-info" id="location-info">
            <div class="location-name">--</div>
            <div class="location-country">--</div>
        </div>
    </div>
</div>